@font-face {
  font-family: "iconfont"; /* Project id 4046884 */
  src: url('iconfont.woff2?t=1683710055505') format('woff2'),
       url('iconfont.woff?t=1683710055505') format('woff'),
       url('iconfont.ttf?t=1683710055505') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-juejin:before {
  content: "\e603";
}

.icon-location:before {
  content: "\e61a";
}

.icon-email:before {
  content: "\e889";
}

.icon-link:before {
  content: "\e6b7";
}

.icon-date:before {
  content: "\e697";
}

.icon-education:before {
  content: "\e8d8";
}

.icon-work:before {
  content: "\e633";
}

.icon-backend:before {
  content: "\e602";
}

.icon-frontend:before {
  content: "\e7ae";
}

.icon-download:before {
  content: "\e74a";
}

.icon-scroll2Top:before {
  content: "\e6ca";
}

.icon-mouse:before {
  content: "\e662";
}

.icon-scrollDown:before {
  content: "\e636";
}

.icon-eye:before {
  content: "\e8c7";
}

.icon-En2Cn:before {
  content: "\e630";
}

.icon-Cn2En:before {
  content: "\e645";
}

.icon-cancel_expand:before {
  content: "\e695";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-bilibili:before {
  content: "\e601";
}

.icon-light-mode:before {
  content: "\e600";
}

.icon-expand:before {
  content: "\eb25";
}

.icon-github:before {
  content: "\e690";
}

.icon-base:before {
  content: "\e60e";
}

.icon-film:before {
  content: "\e671";
}

.icon-picture:before {
  content: "\e67c";
}

.icon-smile:before {
  content: "\e67e";
}

.icon-contact:before {
  content: "\e680";
}

.icon-dark-mode:before {
  content: "\e6a3";
}

