@keyframes rotateZ {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(.2rem);
  }
  50% {
    transform: translateY(.3rem);
  }
  75% {
    transform: translateY(.2rem);
  }
  100% {
    transform: translateY(0);
  }

}