/* 测试背景色，开发时便于观察 */
.test__bg {
  background: yellowgreen;
}

/* grid */
.grid {
  display: grid;
}

/* flex */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.center_center {
  justify-content: center;
  align-items: center;
}

.flex.between_center{
  justify-content: space-between;
  align-items: center;
}

.flex.center_center {
  justify-content: center;
  align-items: center;
}

/* gap */
.gap-col-3-2 {
  column-gap: 3.2rem;
}

.gap-row-1 {
  row-gap: 1rem;
}

.gap-row-1-6 {
  row-gap: 1.6rem;
}

/* container */
.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

/* button */
.btn {
  display: inline-block;
  padding: 2rem 1.5rem;
  background-color: var(--theme-color);
  color: var(--color-light);
  border-radius: .8rem;
  font-size: 1.8rem;
}