:root {
  /* Basic Text Color(基础色定义) */
  --color-primary: #228cf6;
  --color-success: #67c23a;
  --color-warning: #f2960d;
  --color-danger: #f52323;
  --color-purple: #6a58d8;
  --color-info: #909399;
  --color-light: #ffffff;
  --color-dark: #333333;
  --color-lightGray: #a19fac;
  --color-gray: #707070;
  --color-deepGray: #4e4d4d;

  /* font size: lg大屏 md中屏 sm小屏 xs超小型*/
  --fontSize-lg: 3.2rem;
  --fontSize-md: 1.8rem;
  --fontSize-sm: 1.6rem;
  --fontSize-xs: 1.4rem;

  /* icon size large大图标 normal常规 small小图标*/
  --iconSize-large: 3rem;
  --iconSize-normal: 2.5rem;
  --iconSize-small: 2rem;

  /* a element hover color(a元素悬浮色) */
  --link-color: var(--color-primary);

  /* theme color */
  --theme-color: var(--color-purple);

  /* header,main,footer */
  --layout-padding: 0 1.6rem;

  /* z-index */
  --header-zIndex: 10;

  /* header variable */
  --header-height: 6rem;
  --header-boxShadow: 0 -0.1rem .3rem var(--color-dark);
}