/* || base */
.base__content {
  grid-template-columns: max-content 1fr 1fr;
  padding-top: 8.8rem;
  align-items: center;
}

.base__social {
  grid-template-columns: max-content;
}

.iconfont.base__icon {
  font-size: var(--iconSize-small);
  color: var(--theme-color);
}

.base__title {
  font-size: var(--fontSize-lg);
  letter-spacing: 0.2rem;
  color: var(--theme-textColor);
}

.base__subtitle {
  margin: 1.2rem 0;
  font-size: var(--fontSize-md);
  color: var(--theme-subtitle-textColor);
  letter-spacing: .1rem;
}

.base__description {
  font-size: var(--fontSize-sm);
  color: var(--color-gray);
  margin-bottom: var(--mb-4);
}

.base__img {
  text-align: center;
  order: 1;
}

.base__img img {
  width: 70%;
  transition: width 0.6s ease-in-out;
}

.base__img img:hover {
  cursor: pointer;
  animation: 0.6s ease rotateZ;
}

.iconfont.base__contact--icon {
  font-size: var(--iconSize-small);
}

.base__scroll {
  width: 100%;
  padding: 3rem 0 0 5rem;
}

.base__scroll--btn {
  transition: transform 0.3s ease-out;
  font-size: var(--fontSize-sm);
  color: var(--theme-textColor);
}

.iconfont.base__scroll--icon {
  font-size: var(--iconSize-small);
  color: var(--theme-color);
  transition: color 0.2s ease-out; 
}

.base__scroll--btn:hover {
  transform: translateY(.5rem);
  transform: scale(1.05);
}

.base__scroll--btn:hover .base__scroll--icon {
  color: var(--link-color);
}

.base__scroll--btn:hover .base__scroll--icon:nth-of-type(2) {
  /* duration easing-function delay iteration-count name */
  animation: 1s linear 0.5s infinite scrollDown;
}