@import url("main/base.css");
@import url("main/about.css");

/* main style */
.main {
  background-color: var(--theme-bgColor);
  transition: background-color 0.3s linear;
}

/* main section style */
.section {
  padding: 9.6rem 0 3.2rem;
}